# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/2.14.1/
.idea/encodings.xml
.idea/libraries/androidplot_core_1_4_1.xml
.idea/libraries/animated_vector_drawable_25_1_1.xml
.idea/libraries/appcompat_v7_25_1_1.xml
.idea/libraries/cardview_v7_25_1_1.xml
.idea/libraries/design_25_1_1.xml
.idea/libraries/figlib_1_0_3.xml
.idea/libraries/lombok_1_14_4.xml
.idea/libraries/recyclerview_v7_25_1_1.xml
.idea/libraries/rxjava_android_0_20_4.xml
.idea/libraries/rxjava_core_0_20_4.xml
.idea/libraries/support_annotations_25_1_1.xml
.idea/libraries/support_compat_25_1_1.xml
.idea/libraries/support_core_ui_25_1_1.xml
.idea/libraries/support_core_utils_25_1_1.xml
.idea/libraries/support_fragment_25_1_1.xml
.idea/libraries/support_media_compat_25_1_1.xml
.idea/libraries/support_v4_25_1_1.xml
.idea/libraries/support_vector_drawable_25_1_1.xml
.idea/libraries/transition_25_1_1.xml
biohm/.idea/
biohm/build/generated/res/
biohm/build/generated/source/aidl/
biohm/build/generated/source/rs/
biohm/build/intermediates/blame/
biohm/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/
biohm/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.1/aidl/
biohm/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.1/assets/
biohm/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/
biohm/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.1.1/aidl/
biohm/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.1.1/assets/
biohm/build/intermediates/exploded-aar/com.android.support/cardview-v7/25.1.1/
biohm/build/intermediates/exploded-aar/com.android.support/design/23.1.1/aidl/
biohm/build/intermediates/exploded-aar/com.android.support/design/23.1.1/assets/
biohm/build/intermediates/exploded-aar/com.android.support/design/25.1.1/
biohm/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.1.1/aidl/
biohm/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.1.1/assets/
biohm/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/
biohm/build/intermediates/exploded-aar/com.android.support/support-compat/
biohm/build/intermediates/exploded-aar/com.android.support/support-core-ui/
biohm/build/intermediates/exploded-aar/com.android.support/support-core-utils/
biohm/build/intermediates/exploded-aar/com.android.support/support-fragment/
biohm/build/intermediates/exploded-aar/com.android.support/support-media-compat/
biohm/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/assets/
biohm/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/libs/
biohm/build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/res/
biohm/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/
biohm/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/
biohm/build/intermediates/exploded-aar/com.android.support/transition/
biohm/build/intermediates/exploded-aar/com.androidplot/androidplot-core/1.4.1/
biohm/build/intermediates/exploded-aar/com.halfhp.fig/
biohm/build/intermediates/exploded-aar/com.jpardogo.materialtabstrip/library/1.0.8/aidl/
biohm/build/intermediates/exploded-aar/com.jpardogo.materialtabstrip/library/1.0.8/assets/
biohm/build/intermediates/incremental/compileDebugAidl/
biohm/build/intermediates/incremental/mergeDebugResources/
biohm/build/intermediates/incremental/packageDebug/
biohm/build/intermediates/incremental/packageDebugAndroidTest/
biohm/build/intermediates/incremental/packageRelease/
biohm/build/intermediates/incremental/processDebugResources/
biohm/build/intermediates/manifests/instant-run/
biohm/build/intermediates/res/merged/debug/anim-v21/
biohm/build/intermediates/res/merged/debug/anim/design_bottom_sheet_slide_in.xml
biohm/build/intermediates/res/merged/debug/anim/design_bottom_sheet_slide_out.xml
biohm/build/intermediates/res/merged/debug/animator-v21/
biohm/build/intermediates/res/merged/debug/color-v23/abc_btn_colored_borderless_text_material.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_btn_colored_text_material.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_btn_checkable.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_default.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_edittext.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_seek_thumb.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_spinner.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_switch_thumb.xml
biohm/build/intermediates/res/merged/debug/color-v23/abc_tint_switch_track.xml
biohm/build/intermediates/res/merged/debug/color-v23/design_tint_password_toggle.xml
biohm/build/intermediates/res/merged/debug/color/abc_btn_colored_borderless_text_material.xml
biohm/build/intermediates/res/merged/debug/color/abc_btn_colored_text_material.xml
biohm/build/intermediates/res/merged/debug/color/abc_hint_foreground_material_dark.xml
biohm/build/intermediates/res/merged/debug/color/abc_hint_foreground_material_light.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_btn_checkable.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_default.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_edittext.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_seek_thumb.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_spinner.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_switch_thumb.xml
biohm/build/intermediates/res/merged/debug/color/abc_tint_switch_track.xml
biohm/build/intermediates/res/merged/debug/color/design_error.xml
biohm/build/intermediates/res/merged/debug/color/design_tint_password_toggle.xml
biohm/build/intermediates/res/merged/debug/drawable-anydpi-v21/
biohm/build/intermediates/res/merged/debug/drawable-hdpi-v4/
biohm/build/intermediates/res/merged/debug/drawable-ldrtl-hdpi-v17/
biohm/build/intermediates/res/merged/debug/drawable-ldrtl-mdpi-v17/
biohm/build/intermediates/res/merged/debug/drawable-ldrtl-xhdpi-v17/
biohm/build/intermediates/res/merged/debug/drawable-ldrtl-xxhdpi-v17/
biohm/build/intermediates/res/merged/debug/drawable-ldrtl-xxxhdpi-v17/
biohm/build/intermediates/res/merged/debug/drawable-mdpi-v4/
biohm/build/intermediates/res/merged/debug/drawable-v21/abc_edit_text_material.xml
biohm/build/intermediates/res/merged/debug/drawable-v21/avd_hide_password.xml
biohm/build/intermediates/res/merged/debug/drawable-v21/avd_show_password.xml
biohm/build/intermediates/res/merged/debug/drawable-v21/design_bottom_navigation_item_background.xml
biohm/build/intermediates/res/merged/debug/drawable-v21/design_password_eye.xml
biohm/build/intermediates/res/merged/debug/drawable-v21/notification_action_background.xml
biohm/build/intermediates/res/merged/debug/drawable-xhdpi-v4/
biohm/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/
biohm/build/intermediates/res/merged/debug/drawable-xxxhdpi-v4/
biohm/build/intermediates/res/merged/debug/drawable/abc_dialog_material_background.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_ab_back_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_arrow_drop_right_black_24dp.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_clear_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_go_search_api_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_menu_overflow_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_search_api_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ic_voice_search_api_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ratingbar_indicator_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ratingbar_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_ratingbar_small_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_seekbar_tick_mark_material.xml
biohm/build/intermediates/res/merged/debug/drawable/abc_vector_test.xml
biohm/build/intermediates/res/merged/debug/drawable/design_bottom_navigation_item_background.xml
biohm/build/intermediates/res/merged/debug/drawable/design_password_eye.xml
biohm/build/intermediates/res/merged/debug/drawable/navigation_empty_icon.xml
biohm/build/intermediates/res/merged/debug/drawable/notification_bg.xml
biohm/build/intermediates/res/merged/debug/drawable/notification_bg_low.xml
biohm/build/intermediates/res/merged/debug/drawable/notification_icon_background.xml
biohm/build/intermediates/res/merged/debug/drawable/notification_tile_bg.xml
biohm/build/intermediates/res/merged/debug/layout-large-v4/
biohm/build/intermediates/res/merged/debug/layout-sw600dp-v13/
biohm/build/intermediates/res/merged/debug/layout-v11/
biohm/build/intermediates/res/merged/debug/layout-v16/
biohm/build/intermediates/res/merged/debug/layout-v21/
biohm/build/intermediates/res/merged/debug/layout/abc_alert_dialog_title_material.xml
biohm/build/intermediates/res/merged/debug/layout/abc_popup_menu_header_item_layout.xml
biohm/build/intermediates/res/merged/debug/layout/design_bottom_navigation_item.xml
biohm/build/intermediates/res/merged/debug/layout/design_bottom_sheet_dialog.xml
biohm/build/intermediates/res/merged/debug/layout/design_text_input_password_icon.xml
biohm/build/intermediates/res/merged/debug/layout/notification_action.xml
biohm/build/intermediates/res/merged/debug/layout/notification_action_tombstone.xml
biohm/build/intermediates/res/merged/debug/layout/notification_template_icon_group.xml
biohm/build/intermediates/res/merged/debug/layout/notification_template_lines_media.xml
biohm/build/intermediates/res/merged/debug/layout/notification_template_media_custom.xml
biohm/build/intermediates/res/merged/debug/values-b+sr+Latn/
biohm/build/intermediates/res/merged/debug/values-be-rBY/
biohm/build/intermediates/res/merged/debug/values-bs-rBA/
biohm/build/intermediates/res/merged/debug/values-h720dp-v13/
biohm/build/intermediates/res/merged/debug/values-hdpi-v4/
biohm/build/intermediates/res/merged/debug/values-large-v4/
biohm/build/intermediates/res/merged/debug/values-night-v8/
biohm/build/intermediates/res/merged/debug/values-sw600dp-v13/
biohm/build/intermediates/res/merged/debug/values-sw720dp-land-v13/
biohm/build/intermediates/res/merged/debug/values-v13/
biohm/build/intermediates/res/merged/debug/values-v16/
biohm/build/intermediates/res/merged/debug/values-v24/
biohm/build/intermediates/res/merged/debug/values-v25/
biohm/build/intermediates/res/merged/debug/values-w820dp-v13/
biohm/build/intermediates/res/merged/debug/values-xlarge-v4/
biohm/build/intermediates/rs/
biohm/gradle/
biohm/gradlew
biohm/gradlew.bat
biohm/local.properties
