# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/encodings.xml

biohm/.idea/
biohm/build
biohm/gradle/
biohm/gradlew
biohm/gradlew.bat
biohm/local.properties

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
